@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@source "../../../apps/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.58 0.22 27);
	--border: oklch(0.922 0 0);
	--line: oklch(0 0 0 / 10%);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--surface: oklch(0.985 0 0);
	--surface-foreground: oklch(0.205 0 0);
	--code: oklch(0.97 0 0);
	--code-foreground: oklch(0.205 0 0);
	--code-number: oklch(0 0 0 / 32%);
	--code-highlight: oklch(0 0 0 / 5%);
	--chart-1: oklch(0.809 0.105 251.813);
	--chart-2: oklch(0.623 0.214 259.815);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.488 0.243 264.376);
	--chart-5: oklch(0.424 0.199 265.638);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.87 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.371 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--line: oklch(1 0 0 / 8%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--surface: oklch(0.18 0 0);
	--surface-foreground: oklch(0.985 0 0);
	--code: oklch(0.18 0 0);
	--code-foreground: oklch(0.985 0 0);
	--code-number: oklch(1 0 0 / 28%);
	--code-highlight: oklch(1 0 0 / 6%);
	--chart-1: oklch(0.809 0.105 251.813);
	--chart-2: oklch(0.623 0.214 259.815);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.488 0.243 264.376);
	--chart-5: oklch(0.424 0.199 265.638);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
	--font-sans: "Geist", "Geist Fallback", ui-sans-serif, system-ui, sans-serif;
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-line: var(--line);
	--color-surface: var(--surface);
	--color-surface-foreground: var(--surface-foreground);
	--color-code: var(--code);
	--color-code-foreground: var(--code-foreground);
	--color-code-number: var(--code-number);
	--color-code-highlight: var(--code-highlight);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	--font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, monospace;
	--default-mono-font-feature-settings: "ss11" 1, "zero" 1, "tnum" 1;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply font-sans bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
}

@utility screen-line-bottom {
	@apply relative;

	&:after {
		content: "";
		@apply absolute bottom-0 left-[-100vw] -z-1 h-px w-[200vw] bg-line;
	}
}

@utility screen-line-top {
	@apply relative;

	&:before {
		content: "";
		@apply absolute top-0 left-[-100vw] -z-1 h-px w-[200vw] bg-line;
	}
}

@utility screen-dashed-line-top {
	@apply screen-line-top;

	&:before {
		@apply bg-inherit bg-[linear-gradient(to_right,var(--line)_4px,transparent_2px)] bg-size-[6px_1px] bg-repeat-x;
	}
}

@utility screen-dashed-line-bottom {
	@apply screen-line-bottom;

	&:after {
		@apply bg-inherit bg-[linear-gradient(to_right,var(--line)_4px,transparent_2px)] bg-size-[6px_1px] bg-repeat-x;
	}
}

@utility diagonal-stripes {
	@apply [--pattern-foreground:var(--color-line)]/60;
	@apply bg-[repeating-linear-gradient(315deg,var(--pattern-foreground)_0,var(--pattern-foreground)_1px,transparent_0,transparent_50%)] bg-size-[10px_10px];
}

@utility stripe-divider {
	@apply relative h-8;

	&:before {
		content: "";
		@apply absolute left-[-100vw] -z-1 h-full w-[200vw] diagonal-stripes;
	}
}

html:has([data-blocks-layout]),
body:has([data-blocks-layout]),
[data-blocks-layout],
[data-blocks-layout] * {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html:has([data-blocks-layout])::-webkit-scrollbar,
body:has([data-blocks-layout])::-webkit-scrollbar,
[data-blocks-layout]::-webkit-scrollbar,
[data-blocks-layout] *::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}

@layer components {
	[data-rehype-pretty-code-figure] {
		@apply relative my-[1.25em] rounded-xl bg-surface p-1 text-surface-foreground inset-ring-1 inset-ring-border/64;
		@apply has-data-rehype-pretty-code-title:pt-0;
		@apply has-data-[slot=code-block-command]:pt-0;

		pre {
			@apply no-scrollbar overflow-x-auto overscroll-x-contain py-4 outline-none;
		}

		code {
			@apply min-w-full font-mono text-sm;
		}

		[data-line] {
			@apply pr-(--code-padding-right,0) pl-4;
		}
	}

	[data-line] span {
		@apply text-(--shiki-light) dark:text-(--shiki-dark);
	}

	[data-rehype-pretty-code-title] {
		@apply flex items-center gap-3 py-2.5 pr-8.5 pl-3 font-mono text-sm text-muted-foreground [&_svg]:size-4 [&_svg]:shrink-0 [&_svg]:text-muted-foreground;
	}

	[data-line-numbers] {
		counter-reset: line;
	}

	[data-line-numbers] [data-line] {
		@apply pl-0;
	}

	[data-line-numbers] [data-line]::before {
		counter-increment: line;
		content: counter(line);
		@apply sticky left-0 z-1 inline-block w-16 bg-code pe-6 text-right text-sm text-code-number;
	}

	[data-highlighted-line] {
		@apply relative after:pointer-events-none after:absolute after:inset-0 after:z-2 after:bg-code-highlight;
	}

	[data-highlighted-chars] {
		@apply relative bg-transparent before:pointer-events-none before:absolute before:inset-0 before:rounded-sm before:bg-code-highlight;
	}
}
